<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/document.css">
    <link rel="stylesheet" href="/css/comment.css">
    <title>게시 글 상세</title>
</head>
<body>
    <h1 th:align="center">게시글 상세</h1>
    <main>
        <div class="row">
            <div class="category">카테고리</div>
            <div class="title" th:text="${board.title}">제목입니다</div>
        </div>
        <div class="row between">
            <div class="name fl" th:text="${board.writer}">글쓴이</div>
            <div class="fr">
                <div class="date fl" th:text="${board.createDate}">2022-08-09</div>
                <div class="cnt fl" th:text="${board.createDate}">
                    <b>조회 수</b>
                    <span th:text="${board.cnt}">12</span>
                </div>
            </div>
        </div>
        <article class="content" th:text="${board.content}"></article>
        <div class="row between">
            <a class="btn back fl" th:href="@{/getBoardList}"></a>
            <div class="row fr gap">
                <a class="btn write fl" th:href="@{/updateBoard(seq=${board.seq})}"></a>
                <form class="fl" action="deleteBoard" method="post">
                    <input type="hidden" name="seq" th:value="${board.seq}">
                    <button class="btn delete" onclick="this.submit()"></button>
                </form>
            </div>
        </div>
    </main>


</body>
</html>