<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/write.css">
    <title th:text="${board == null ? '새글등록' : '글수정'}"></title>
</head>
<body>
<!--    board(객체).title(key)으로 board객체를 만들어서 서버에 전달-->
    <header>
        <h3 th:text="${board == null ? '새글 등록하기' : '글 수정하기'}"></h3>
        <a th:if="${board == null}" class="btn back fl" th:href="@{/getBoardList}"></a>
        <a th:unless="${board == null}" class="btn back fl" th:href="@{/getBoard(seq=${board.seq})}"></a>
    </header>
    <form id="write" th:action="${board == null ? 'insertBoard' : 'updateBoard'}" method="post" enctype="multipart/form-data">
        <input th:if="${board} != null" type="hidden" name="seq" th:value="${board.seq}">
        <div class="row">
            <select class="col category">
                <option th:text="카테고리"></option>
                <option value="1">카테고리 1</option>
            </select>
            <input class="col title" name="title" type="text" th:placeholder="제목" th:value="${board == null ? '' : board.title}">
        </div>
        <textarea class="content" name="content" th:rows="20" th:placeholder="내용" th:text="${board == null ? '' : board.content}"></textarea>
        <div class="row between">
            <label th:if="${board == null}" class="row label writer"><input name="writer" type="text"></label>
            <div th:unless="${board == null}" class="row label writer" th:text="${board.writer}"></div>
            <div class="row fr">
                <button class="btn write fl" th:classappend="${board} != null ? 'update'" type="submit" onclick="this.submit()"></button>
                <input type="file" name="uploadfile" multiple="multiple"/>

            </div>
        </div>
        <input type="na">


    </form>
<hr>
<!-- GetMapping이고, 뒤에 내용은 img주소(파일명) -->
<!--<img src="/viewImage/8df3c133-4898-4c14-9c7f-8a4a22a768a6uploadFile.PNG">-->
<!--<img src="/viewImage/88c36664-0ddd-4547-9a99-0b191e46038auploadFile.PNG">-->

<!--<form th:action="@{/uploadFile}" method="post" enctype="multipart/form-data">-->
<!--    &lt;!&ndash;multipartload객체를 사용하여 서버에 데이터를 전달-->
<!--    input tag의 타입이 file로 지정하여 전달-->
<!--    name uploadfile로 requestParma에 동일한 매개변수명을 가져야 함 &ndash;&gt;-->
<!--    <input type="file" name="uploadFile" multiple = "multiple"/>-->
<!--    <input type="submit" value="데이터 전송">-->
<!--</form>-->
</body>
</html>